<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ru.zoo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name_ru"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Zoo"
        android:usesCleartextTraffic="true"
        tools:targetApi="n">
        <activity android:name=".presentation.tables.feedTypes.listDirectory.FeedTypesActivity"></activity>
        <activity android:name=".presentation.tables.feedTypes.createEdit.FeedTypesEditActivity" />
        <activity android:name=".presentation.tables.feeds.listDirectory.FeedsActivity" />
        <activity android:name=".presentation.tables.feeds.createEdit.FeedsEditActivity" />
        <activity android:name=".presentation.tables.rations.listDirectory.RationsActivity" />
        <activity android:name=".presentation.tables.rations.createEdit.RationsEditActivity" />
        <activity android:name=".presentation.tables.employees.createEdit.RationsEditActivity" />
        <activity android:name=".presentation.tables.employees.listDirectory.EmployeesActivity" />
        <activity android:name=".presentation.tables.users.createEdit.UsersEditActivity" />
        <activity android:name=".presentation.tables.users.listDirectory.UsersActivity" />
        <activity android:name=".presentation.menu.MenuActivity" />
        <activity
            android:name=".presentation.authorization.AuthorizationActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>